*{
  margin: 0;
  box-sizing: border-box;
  margin: 0px auto;
}
body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* COMMON CLASSES */

.center-align {
    text-align: center;
}

.padding {
    padding: 0;
}